
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#image, #avatar {
    opacity: 0;
}

#btnDeleteImage, #btnDeleteAvatar {
    color: white;
}

#imageDeleted, #avatarDeleted {
    display: none;
}

.avatar {
    display:inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: none;
}

.avatar_icon {
    height: 56px;
    width: 56px;
}

.avatar-cmt {
    height: 48px;
    width: 48px;
}

.avatar-btn {
    height: 30px;
    width: 30px;
}

.comment {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.comment hr {
    margin: 5px;
}

.image-blog {
   height: 50vh;
}

aside {
    position: fixed !important;
    top: 15vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px gainsboro;
}

aside a {
    width: 90%;
}

@media only screen and (max-width: 993px) {
    aside {
        visibility: hidden;
    }
}

@media only screen and (min-width: 993px) {
    #authBtn {
        visibility: hidden;
    }
}
