.group-card-body {
  background-color: white;
  transition: .5s background-color;

  a {
    visibility: hidden;
  }

  p {
    min-width: 12vw;
  }

  &:hover {
    background-color: gainsboro;
    cursor: pointer;
  }
}
